## - Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [113]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [114]:
airlines_delay = pd.read_csv('DelayedFlights.csv')

In [115]:
df = airlines_delay.sample(n=20000)

Aquest Data Set analitza 1.936.758 vols interns diferents als EUA durant l'any 2008 i les seves causes de retard, desviament i cancel·lació, si n'hi ha. En el nostre anàlisi agafarem una mostra aleatòria de 200.000 registres. Hi ha 30 columnes i ens en quedem amb 21. S'ha eliminat l'index autogenerat, totes les columnes referides als taxis, el codi de cancelació dels vols i els motius del retard, ja que és informació específica sense la qual es pot fer l'anàlisi sol·licitat.

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 431914 to 1686118
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20000 non-null  int64
 1   Year               20000 non-null  int64
 2   Month              20000 non-null  int64
 3   DayofMonth         20000 non-null  int64
 4   DayOfWeek          20000 non-null  int64
 5   DepTime            20000 non-null  float64
 6   CRSDepTime         20000 non-null  int64
 7   ArrTime            19930 non-null  float64
 8   CRSArrTime         20000 non-null  int64
 9   UniqueCarrier      20000 non-null  object
 10  FlightNum          20000 non-null  int64
 11  TailNum            20000 non-null  object
 12  ActualElapsedTime  19915 non-null  float64
 13  CRSElapsedTime     19998 non-null  float64
 14  AirTime            19915 non-null  float64
 15  ArrDelay           19915 non-null  float64
 16  DepDelay           20000 non-null  float64
 17  Origin             20000 non-null  object
 18  Dest               20000 non-null  object
 19  Distance           20000 non-null  int64
 20  TaxiIn             19930 non-null  float64
 21  TaxiOut            19996 non-null  float64
 22  Cancelled          20000 non-null  int64
 23  CancellationCode   20000 non-null  object
 24  Diverted           20000 non-null  int64
 25  CarrierDelay       12786 non-null  float64
 26  WeatherDelay       12786 non-null  float64
 27  NASDelay           12786 non-null  float64
 28  SecurityDelay      12786 non-null  float64
 29  LateAircraftDelay  12786 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 4.7+ MB

- Unnamed: index autogenerat
- Year: 2008
- Month: 1-12
- DayofMonth: 1-31
- DayOfWeek: 1 (dilluns) - 7 (diumenge)
- DepTime: hora de sortida real(local, hhmm)
- CRSDepTime: Hora de sortida programada(local, hhmm)
- ArrTime: hora d'arribada real(local, hhmm)
- CRSArrTime: hora d'arribada programada(local, hhmm)
- UniqueCarrier: Codi únic de transportista
- FlightNum: número de vol
- TailNum: número de cua de l'avió, matrícula de l'aeronau, identificador únic de l'avió
- ActualElapsedTime: en minuts
- CRSElapsedTime: en minuts
- AirTime: en minuts
- ArrDelay: en minuts. Un vol es compta com a "a temps" si el retard és de menys de 15 minuts. 
- DepDelay: retard de sortida, en minuts
- Origin: codi d'aeroport IATA
- Dest: Codi de l'aeroport de destinació IATA
- Distance: Distància en milles
- TaxiIn: taxi que va puntual, en minuts
- TaxiOut: taxi que va amb retard, en minuts
- Cancelled: el vol s'ha cancel·lat
- CancellationCode: motiu de la cancel·lació (A = operador, B = temps, C = NAS, D = seguretat)
- Diverted: 1 = sí, 0 = no
- CarrierDelay: en minuts, el retard té a veure amb el transport aeri i les diferents casuistiques
- WeatherDelay: en minuts, el retard meteorològic és a causa de previsió o certesa de condicions metereologiques extremes. 
- NASDelay: en minuts, el retard que està sota el control del Sistema Nacional d'Espai Aeri (NAS) pot incloure: condicions meteorològiques no extremes, operacions aeroportuàries, volum de trànsit intens, control de trànsit aeri, etc.
- SecurityDelay: retard en minuts, pot ser causat per qualsevol problema de seguretat detectat 
- LateAircraftDelay en minuts: retard a l'arribada a un aeroport a causa de l'arribada tardana de la mateixa aeronau a un aeroport anterior. L'efecte dominó d'un retard anterior als aeroports aigües avall es coneix com a propagació del retard.

In [117]:
DelFlights = df.drop(['Unnamed: 0','TaxiIn', 'TaxiOut','CancellationCode','CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis=1)

## - Exercici 2

#### Fes un informe complet del dataset:
#### Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.

In [157]:
# Veure una estadística ràpida de les dades

DelFlights.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed
count,20000.0,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.00000,12786.000000,20000.000000,20000.000000,20000.000000
mean,2008.0,6.088100,15.813600,3.97365,1520.477250,1471.021750,1609.688900,1637.561400,2181.504000,132.904400,...,107.925850,41.325000,42.50350,766.651950,0.000350,0.00390,62.678320,1233.803649,1.798764,685.917405
std,0.0,3.473578,8.757682,1.99413,449.596236,424.012081,554.250541,466.073563,1943.825501,72.566341,...,68.935316,55.847984,52.40064,574.026685,0.018705,0.06233,59.827767,923.804106,1.148922,513.577112
min,2008.0,1.000000,1.000000,1.00000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,-50.000000,6.00000,31.000000,0.000000,0.00000,15.000000,49.889540,0.000000,27.735454
25%,2008.0,3.000000,8.000000,2.00000,1204.000000,1135.000000,1318.000000,1328.750000,606.000000,80.000000,...,58.000000,9.000000,12.00000,337.000000,0.000000,0.00000,25.000000,542.347580,0.966667,301.511221
50%,2008.0,6.000000,16.000000,4.00000,1549.000000,1515.000000,1717.500000,1710.000000,1541.000000,116.000000,...,90.000000,24.000000,24.00000,607.000000,0.000000,0.00000,43.000000,976.869380,1.500000,543.078074
75%,2008.0,9.000000,23.000000,6.00000,1901.000000,1820.000000,2032.000000,2016.000000,3427.000000,165.000000,...,138.000000,55.000000,52.00000,1005.000000,0.000000,0.00000,78.000000,1617.386700,2.300000,899.165510
max,2008.0,12.000000,31.000000,7.00000,2400.000000,2359.000000,2400.000000,2400.000000,7828.000000,599.000000,...,560.000000,1049.000000,1046.00000,4962.000000,1.000000,1.00000,1049.000000,7985.545080,9.333333,4439.461953

In [156]:
# Ranking dels dies de la setmana en relació als retards, primer busquem els dies que realment hi hagi retard(= o + de 15 minuts) i fem una nova columna. 

DelFlights['Delayed'] = df['ArrDelay'].where(DelFlights['ArrDelay'] >= 15)

DelFlights.groupby(['DayOfWeek'])['Delayed'].count().sort_values(ascending=False)

DayOfWeek
5    2192
4    1938
1    1937
7    1794
2    1782
3    1684
6    1459
Name: Delayed, dtype: int64

In [120]:
# Ranking dels mesos de l'any en relació als retards

DelFlights.groupby(['Month'])['Delayed'].count().sort_values(ascending=False)

Month
12    1436
6     1410
3     1322
2     1309
1     1265
7     1234
4     1040
8     1004
5      977
11     672
9      591
10     526
Name: Delayed, dtype: int64

In [121]:
# Ranking dels dies dels mesos de l'any en relació als retards

DelFlights.groupby(['DayofMonth'])['Delayed'].count().sort_values(ascending=False)

DayofMonth
22    516
21    491
7     484
1     478
26    447
18    445
20    443
19    440
5     433
9     425
27    422
6     422
10    420
17    419
4     418
15    412
28    412
16    402
24    401
13    399
8     396
14    395
11    391
23    389
25    388
2     383
29    372
3     367
12    364
30    347
31    265
Name: Delayed, dtype: int64

In [122]:
# Mostrem els vols cancel·lats

CancelFlights = DelFlights.loc[DelFlights['Cancelled'] > 0]
CancelFlights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,Delayed
1873216,2008,12,19,5,934.0,900,NaN,1140,MQ,4094,...,100.0,NaN,NaN,34.0,ORD,SYR,607,1,0,NaN
1580200,2008,10,29,3,845.0,830,NaN,947,DL,1345,...,77.0,NaN,NaN,15.0,LGA,DCA,214,1,0,NaN
1855331,2008,12,22,1,843.0,830,NaN,1018,F9,791,...,168.0,NaN,NaN,13.0,DEN,PDX,992,1,0,NaN
1925741,2008,12,22,1,1547.0,700,NaN,928,CO,1724,...,148.0,NaN,NaN,527.0,OMA,IAH,781,1,0,NaN
1777149,2008,12,19,5,1944.0,1910,NaN,2004,XE,2016,...,54.0,NaN,NaN,34.0,IAH,LCH,127,1,0,NaN
1786670,2008,12,26,5,907.0,747,NaN,900,YV,7187,...,133.0,NaN,NaN,80.0,CAE,ORD,666,1,0,NaN
1811162,2008,12,1,1,1946.0,1850,NaN,53,UA,152,...,243.0,NaN,NaN,56.0,SFO,ORD,1846,1,0,NaN

In [155]:
# Mostrem els vols desviats 

DivertedFlights = DelFlights.loc[DelFlights['Diverted'] > 0]
DivertedFlights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed,DelayedOrNot
1724612,2008,11,30,7,2016.0,1925,43.0,2111,CO,624,...,CLE,EWR,404,0,1,0.0,650.17336,0.0,361.455588,On time
1115393,2008,7,2,3,626.0,614,0.0,814,XE,2009,...,EWR,MCI,1092,0,1,0.0,1757.39928,0.0,977.003719,On time
271101,2008,2,13,3,941.0,740,0.0,1037,US,866,...,PHL,FLL,992,0,1,0.0,1596.46528,0.0,887.534514,On time
1195431,2008,7,26,6,1744.0,1654,0.0,1842,FL,815,...,PIT,ATL,526,0,1,0.0,846.51284,0.0,470.608018,On time
607418,2008,4,25,5,1620.0,1520,0.0,1759,XE,2469,...,IAH,MKE,984,0,1,0.0,1583.59056,0.0,880.376977,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068747,2008,6,18,3,914.0,830,0.0,1714,CO,1049,...,SFO,EWR,2565,0,1,0.0,4127.95710,0.0,2294.885109,On time
1909944,2008,12,25,4,1719.0,1700,1103.0,1945,AA,2397,...,JFK,EGE,1746,0,1,0.0,2809.90764,0.0,1562.132320,On time
1128433,2008,7,29,2,1731.0,1559,0.0,1616,YV,2619,...,CLT,BHM,351,0,1,0.0,564.87834,0.0,314.036910,On time
231672,2008,2,13,3,1017.0,900,0.0,1150,YV,7263,...,ORD,ABE,654,0,1,0.0,1052.50836,0.0,585.128601,On time
1620653,2008,10,21,2,1220.0,1210,2125.0,1755,CO,1893,...,SMF,IAH,1609,0,1,0.0,2589.42806,0.0,1439.559509,On time

#### Troba quantes dades faltants hi ha per columna.

In [124]:
missing_values_count = DelFlights.isna().sum()

print(missing_values_count)

Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime                70
CRSArrTime              0
UniqueCarrier           0
FlightNum               0
TailNum                 0
ActualElapsedTime      85
CRSElapsedTime          2
AirTime                85
ArrDelay               85
DepDelay                0
Origin                  0
Dest                    0
Distance                0
Cancelled               0
Diverted                0
Delayed              7214
dtype: int64

#### Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [158]:
# Per la velocitat mitjana de vol convertim les Milles en Km i els minuts en hores, ho dividim i treiem la mitjana.

DelFlights['DistanceKm'] = DelFlights['Distance']* 1.60934
DelFlights['TimeHour'] = DelFlights['AirTime']/60
DelFlights['MeanFlightSpeed'] = DelFlights['DistanceKm']/DelFlights['TimeHour'].mean()

DelFlights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed,DelayedOrNot
431914,2008,3,15,6,1009.0,910,1210.0,1120,OH,4948,...,CVG,BOS,752,0,0,50.0,1210.22368,1.600000,672.808422,Delayed
346960,2008,2,6,3,922.0,835,1231.0,1155,AA,1770,...,PHX,DFW,868,0,0,36.0,1396.90712,1.750000,776.592700,Delayed
294771,2008,2,26,2,1507.0,1500,1846.0,1825,F9,234,...,DEN,BNA,1013,0,0,21.0,1630.26142,2.283333,906.323047,Delayed
157404,2008,1,31,4,722.0,715,840.0,845,AA,1565,...,ORD,MSP,334,0,0,NaN,537.51956,1.066667,298.827145,On time
1123358,2008,7,7,1,1714.0,1627,2130.0,2045,YV,7318,...,IAH,IAD,1190,0,0,45.0,1915.11460,2.883333,1064.683540,Delayed

In [159]:
# Només es compten com a retard els vols que arriben més de 15 minuts tard

DelFlights['DelayedOrNot'] = np.where(DelFlights['ArrDelay'] >= 15, 'Delayed', 'On time')

In [127]:
DelFlights[['ArrDelay','DelayedOrNot']]

         ArrDelay DelayedOrNot
431914       50.0      Delayed
346960       36.0      Delayed
294771       21.0      Delayed
157404       -5.0      On time
1123358      45.0      Delayed
...           ...          ...
404323       12.0      On time
324094       11.0      On time
1382523      -1.0      On time
1706342      55.0      Delayed
1686118      72.0      Delayed

[20000 rows x 2 columns]

#### Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards. Aporta allò que consideris rellevant.

In [160]:
# Vols més llargs
DelFlights.sort_values(by = 'Distance', ascending = False)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed,DelayedOrNot
1922057,2008,12,30,2,2128.0,2055,1134.0,1120,CO,14,...,HNL,EWR,4962,0,0,NaN,7985.54508,8.766667,4439.461953,On time
1173345,2008,7,22,2,1507.0,1500,600.0,549,DL,1282,...,HNL,ATL,4502,0,0,NaN,7245.24868,8.400000,4027.903610,On time
1576987,2008,10,17,5,1057.0,1010,1428.0,1357,DL,1273,...,ATL,HNL,4502,0,0,31.0,7245.24868,9.000000,4027.903610,Delayed
1424290,2008,8,4,1,1506.0,1500,543.0,549,DL,1282,...,HNL,ATL,4502,0,0,NaN,7245.24868,8.250000,4027.903610,On time
1840364,2008,12,23,2,1019.0,1010,1518.0,1514,DL,1273,...,ATL,HNL,4502,0,0,NaN,7245.24868,9.333333,4027.903610,On time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57712,2008,1,13,7,1632.0,1615,1706.0,1650,OO,5456,...,LAX,OXR,49,0,0,16.0,78.85766,0.200000,43.839910,Delayed
436646,2008,3,4,2,919.0,910,952.0,948,OO,5457,...,LAX,OXR,49,0,0,NaN,78.85766,0.200000,43.839910,On time
1402909,2008,8,1,5,1741.0,1730,1808.0,1801,AS,77,...,GST,JNU,41,0,0,NaN,65.98294,0.216667,36.682374,On time
1058131,2008,6,11,3,1623.0,1613,1701.0,1650,AS,71,...,JNU,GST,41,0,0,NaN,65.98294,0.216667,36.682374,On time
1060338,2008,6,29,7,1903.0,1737,1923.0,1801,AS,64,...,PSG,WRG,31,0,0,82.0,49.88954,0.150000,27.735454,Delayed

In [168]:
# Vols més endarrerits

DelFlights.sort_values(by = 'Delayed', ascending = False)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,Cancelled,Diverted,Delayed,DistanceKm,TimeHour,MeanFlightSpeed,DelayedOrNot
1898129,2008,12,27,6,531.0,1205,839.0,1510,AA,638,...,TUS,DFW,813,0,0,1049.0,1308.39342,1.733333,727.384637,Delayed
1499419,2008,9,19,5,801.0,1628,1005.0,1828,NW,1447,...,ORF,DTW,529,0,0,937.0,851.34086,1.366667,473.292095,Delayed
1227357,2008,7,23,3,1015.0,1830,1239.0,2105,AA,863,...,PHL,DFW,1302,0,0,934.0,2095.36068,2.750000,1164.889049,Delayed
1594123,2008,10,7,2,1913.0,540,2032.0,640,MQ,3746,...,LIT,DFW,304,0,0,832.0,489.23936,0.883333,271.986383,Delayed
1037062,2008,6,8,7,1029.0,2135,1857.0,535,AA,246,...,KOA,LAX,2504,0,0,802.0,4029.78736,5.100000,2240.308894,Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648640,2008,11,18,2,2035.0,2025,2235.0,2253,XE,2985,...,EWR,DTW,487,0,0,0.0,783.74858,1.333333,435.715028,On time
1445574,2008,9,30,2,837.0,830,1021.0,1015,WN,2161,...,BWI,MSY,998,0,0,0.0,1606.12132,2.483333,892.902666,On time
998884,2008,6,1,7,2145.0,2118,449.0,503,FL,52,...,SFO,ATL,2139,0,0,0.0,3442.37826,3.816667,1913.746295,On time
588650,2008,4,17,4,1612.0,1545,1819.0,1805,WN,2100,...,BWI,TPA,842,0,0,0.0,1355.06428,1.933333,753.330706,On time
1595827,2008,10,9,4,956.0,950,1314.0,1310,MQ,4185,...,ORD,JAX,865,0,0,0.0,1392.07910,2.033333,773.908623,On time

In [169]:
# Rutes més llargues 

DelFlights_grouped = DelFlights.groupby(['Origin','Dest']).agg({'Distance':'max'})

DelFlights_grouped = DelFlights_grouped.sort_values(by='Distance', ascending=False)

DelFlights_grouped.head(20)

             Distance
Origin Dest
HNL    EWR       4962
       ATL       4502
ATL    HNL       4502
HNL    ORD       4243
ORD    HNL       4243
KOA    ORD       4213
HNL    IAH       3904
IAH    HNL       3904
HNL    DFW       3784
DFW    HNL       3784
OGG    DFW       3711
DEN    LIH       3414
SJU    LAX       3386
LAX    SJU       3386
DEN    HNL       3365
IAH    ANC       3266
ANC    CVG       3110
DFW    ANC       3043
ANC    DFW       3043
DTW    ANC       2986

In [164]:
# Rutes més curtes

DelFlights_grouped = DelFlights.groupby(['Origin','Dest']).agg({'Distance':'max'})

DelFlights_grouped = DelFlights_grouped.sort_values(by='Distance', ascending=True)

DelFlights_grouped.head(20)

             Distance
Origin Dest
PSG    WRG         31
JNU    GST         41
GST    JNU         41
LAX    OXR         49
ACV    CEC         56
FNT    DTW         56
CEC    ACV         56
DTW    FNT         56
IPL    YUM         58
CVG    DAY         64
DAY    CVG         64
MKE    ORD         67
ORD    MKE         67
STT    SJU         68
CVG    LEX         70
LEX    CVG         70
COS    DEN         72
DEN    COS         72
LAN    DTW         74
MSN    MKE         74

In [165]:
# Avions amb origens i destinacions amb menys distància i major retard

origin_dest_distance_delay = DelFlights[['TailNum','Origin','Dest','Distance', 'ArrDelay']]

In [133]:
origin_dest_distance_delay.sort_values(by = ['Distance', 'ArrDelay'], ascending = [True, False])

        TailNum Origin Dest  Distance  ArrDelay
1060338  N622AS    PSG  WRG        31      82.0
1058131  N776AS    JNU  GST        41      11.0
1402909  N713AS    GST  JNU        41       7.0
57712    N235SW    LAX  OXR        49      16.0
954167   N216SW    LAX  OXR        49      12.0
...         ...    ...  ...       ...       ...
1576987  N830MH    ATL  HNL      4502      31.0
1173345  N829MH    HNL  ATL      4502      11.0
1840364  N828MH    ATL  HNL      4502       4.0
1424290  N831MH    HNL  ATL      4502      -6.0
1922057  N78060    HNL  EWR      4962      14.0

[20000 rows x 5 columns]

## - Exercici 3
#### Exporta el dataset net i amb les noves columnes a Excel.

In [166]:
DelFlights = DelFlights.fillna(0)

In [167]:
DelFlights.to_excel('DelFlights.xlsx')